@model IEnumerable<cFunding.Models.answer>
@using cfunding.Services;

@{
    ViewData["Title"] = "Answer | Home";
}


<section>
    <table>
        <thead>
            <tr>
                <th>Answer id</th>
                <th>Answer date</th>
                <th>question</th>
                <th>user id</th>
                <th>answer message</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(model => item.id)</td>
                    <td>closing on @globalMethods.formattedDate(item.answerdate)</td>
                    <td>@Html.DisplayFor(model => item.fkquestion.questionmessage)</td>
                    <td>@Html.DisplayFor(model => item.fkuser.id)</td>
                    <td>@Html.DisplayFor(model => item.answermessage)</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
</section>